USE [TestDapperDB]
GO
/****** Object:  Table [dbo].[MD_Customer]    Script Date: 8/22/2022 8:39:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MD_Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerCode] [varchar](50) NULL,
	[FullName] [nvarchar](50) NULL,
	[TaxCode] [varchar](100) NULL,
	[Address] [nvarchar](100) NULL,
	[CreatedUser] [varchar](125) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedUser] [varchar](125) NULL,
	[UpdatedDate] [datetime] NULL,
	[IsBlocked] [bit] NULL,
 CONSTRAINT [PK_MD_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CustomerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TaxCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAM_FuncInRole]    Script Date: 8/22/2022 8:39:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAM_FuncInRole](
	[FID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[FuncID] [int] NOT NULL,
	[CreatedUser] [varchar](125) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedUser] [varchar](125) NULL,
	[UpdatedDate] [datetime] NULL,
	[IsBlocked] [bit] NULL,
 CONSTRAINT [PK_SAM_FuncInRole] PRIMARY KEY CLUSTERED 
(
	[FID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAM_Function]    Script Date: 8/22/2022 8:39:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAM_Function](
	[FuncID] [int] IDENTITY(1,1) NOT NULL,
	[FuncCode] [nvarchar](50) NULL,
	[FuncDesc] [nvarchar](50) NULL,
	[URL] [nvarchar](250) NULL,
	[Icon] [nvarchar](20) NULL,
	[OrderNo] [int] NOT NULL,
	[ModuleID] [int] NOT NULL,
	[CreatedUser] [varchar](125) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedUser] [varchar](125) NULL,
	[UpdatedDate] [datetime] NULL,
	[IsBlocked] [bit] NULL,
 CONSTRAINT [PK_SAM_Function] PRIMARY KEY CLUSTERED 
(
	[FuncID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[FuncCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[URL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAM_Module]    Script Date: 8/22/2022 8:39:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAM_Module](
	[ModuleID] [int] IDENTITY(1,1) NOT NULL,
	[ModuleCode] [nvarchar](50) NULL,
	[ModuleDesc] [nvarchar](50) NULL,
	[Icon] [nvarchar](250) NULL,
	[OrderNo] [int] NOT NULL,
	[CreatedUser] [varchar](125) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedUser] [varchar](125) NULL,
	[UpdatedDate] [datetime] NULL,
	[IsBlocked] [bit] NULL,
 CONSTRAINT [PK_SAM_Module] PRIMARY KEY CLUSTERED 
(
	[ModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ModuleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAM_Role]    Script Date: 8/22/2022 8:39:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAM_Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NULL,
	[RoleNotes] [nvarchar](1000) NULL,
	[RoleCode] [nvarchar](50) NULL,
	[CreatedUser] [varchar](125) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedUser] [varchar](125) NULL,
	[UpdatedDate] [datetime] NULL,
	[IsBlocked] [bit] NULL,
 CONSTRAINT [PK_SAM_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAM_UserAccount]    Script Date: 8/22/2022 8:39:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAM_UserAccount](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [nvarchar](50) NULL,
	[AccPwd] [nvarchar](100) NULL,
	[IsActivated] [bit] NULL,
	[AccountEmail] [nvarchar](100) NULL,
	[RecoveryEmail] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[CustomerID] [int] NOT NULL,
	[CreatedUser] [varchar](125) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedUser] [varchar](125) NULL,
	[UpdatedDate] [datetime] NULL,
	[IsBlocked] [bit] NULL,
 CONSTRAINT [PK_SAM_UserAccount] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AccountName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RecoveryEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AccountEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAM_UserInRole]    Script Date: 8/22/2022 8:39:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAM_UserInRole](
	[UID] [int] IDENTITY(1,1) NOT NULL,
	[ValidDateFrom] [datetime] NOT NULL,
	[ValidDateTo] [datetime] NULL,
	[AccountID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[CreatedUser] [varchar](125) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedUser] [varchar](125) NULL,
	[UpdatedDate] [datetime] NULL,
	[IsBlocked] [bit] NULL,
 CONSTRAINT [PK_SAM_UserInRole] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SAM_FuncInRole]  WITH CHECK ADD  CONSTRAINT [FK_SAM_FuncInRole_SAM_Function_FuncID] FOREIGN KEY([FuncID])
REFERENCES [dbo].[SAM_Function] ([FuncID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SAM_FuncInRole] CHECK CONSTRAINT [FK_SAM_FuncInRole_SAM_Function_FuncID]
GO
ALTER TABLE [dbo].[SAM_FuncInRole]  WITH CHECK ADD  CONSTRAINT [FK_SAM_FuncInRole_SAM_Role_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[SAM_Role] ([RoleID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SAM_FuncInRole] CHECK CONSTRAINT [FK_SAM_FuncInRole_SAM_Role_RoleID]
GO
ALTER TABLE [dbo].[SAM_Function]  WITH CHECK ADD  CONSTRAINT [FK_SAM_Function_SAM_Module_ModuleID] FOREIGN KEY([ModuleID])
REFERENCES [dbo].[SAM_Module] ([ModuleID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SAM_Function] CHECK CONSTRAINT [FK_SAM_Function_SAM_Module_ModuleID]
GO
ALTER TABLE [dbo].[SAM_UserAccount]  WITH CHECK ADD  CONSTRAINT [FK_SAM_UserAccount_MD_Customer_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[MD_Customer] ([CustomerID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SAM_UserAccount] CHECK CONSTRAINT [FK_SAM_UserAccount_MD_Customer_CustomerID]
GO
ALTER TABLE [dbo].[SAM_UserInRole]  WITH CHECK ADD  CONSTRAINT [FK_SAM_UserInRole_SAM_Role_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[SAM_Role] ([RoleID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SAM_UserInRole] CHECK CONSTRAINT [FK_SAM_UserInRole_SAM_Role_RoleID]
GO
ALTER TABLE [dbo].[SAM_UserInRole]  WITH CHECK ADD  CONSTRAINT [FK_SAM_UserInRole_SAM_UserAccount_AccountID] FOREIGN KEY([AccountID])
REFERENCES [dbo].[SAM_UserAccount] ([AccountID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SAM_UserInRole] CHECK CONSTRAINT [FK_SAM_UserInRole_SAM_UserAccount_AccountID]
GO
